/* --- General --- */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?4337484');
  src: url('../font/fontello.eot?4337484#iefix') format('embedded-opentype'),
  url('../font/fontello.woff?4337484') format('woff'),
  url('../font/fontello.ttf?4337484') format('truetype'),
  url('../font/fontello.svg?4337484#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a,
a:hover {
  color: #d32a2a;
}

a:hover {
  text-decoration: underline;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #d32a2a;
}

::selection {
  color: white;
  text-shadow: none;
  background: #d32a2a;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

.btn,
.btn:hover,
.btn-primary,
.btn-primary:hover {
  background: #d32a2a;
  color: #FFF;
  border: 1px solid #d32a2a;
}

.btn:focus,
.btn:active,
.btn-info:focus,
.btn-info:active,
.btn-primary:focus,
.btn-primary:active,
.btn:focus:active,
.btn-primary:active:focus,
.btn-info:active:focus{
  background: #d32a2a;
  border: 1px solid #d32a2a;
  box-shadow: none;
  outline: none;
  color: #FFF;
}

.header .container-fluid {
  background: #F5F5F5;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EAEAEA;
  -webkit-transition: padding .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out, padding .5s ease-in-out;
  transition: padding .5s ease-in-out, padding .5s ease-in-out;
}

.header .logo {
  display: inline-block;
  font-weight: 800;
  color: #404040;
  position: relative;
  padding-left: 38px;
  margin-left: 13px;
}

.spark-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
  color: #E60000;
  margin-left: -17px;
  line-height: 50px;
  min-width: 64px;
  position: absolute;
  top: -8px;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .spark-icon {
  }
}

.header .logo span {
  display: inline-block;
  height: auto;
  padding: 7px 0 0;
  font-size: 18px;
  line-height: 20px;
}

.header .search-form {
  margin-right: 20px;
}

@media only screen and (min-width: 768px) {
  .header .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header .logo {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header .col-sm-9{
    margin-top: 15px;
  }
}

.header .form-group{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.header .form-group.pushed{
  padding-right: 70px;
}

#search{
  background-color: transparent;
  border-radius: 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  padding: 6px 12px;
  font-size: 20px;
  position: relative;
  transition: border-color .5s ease;
}

#search:focus{
  border-bottom-color: red;
}

.form-login{
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 5;
}

.col-sm-3.hidden-xs {
  border-right: 1px solid #EAEAEA;
}

.menu {
  padding: 0;
  margin: 40px 20px;
  list-style: none;
}

.menu .pages {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li {
  line-height: 30px;
}

.menu .category-title {
  margin: 25px 0 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu a {
  display: inline-block;
  line-height: 20px;
  color: #888;
}

.menu a:hover {
  color: #d32a2a;
  text-decoration: none;
}

.menu .active a {
  font-weight: bold;
  color: #d32a2a;
}

.home-categories {
  margin: 50px 10px;
}

.home-categories .panel-heading {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  background-color: #F5F5F5;
  text-transform: uppercase;
}

.home-categories .panel-heading,
.home-categories .panel .page {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-categories .panel a {
  color: #888;
}

.home-categories .panel a:hover,
.home-categories .panel a:active{
  color: #d32a2a;
  text-decoration: none;
}

.content {
  padding: 40px 10px;
  margin: 40px 0;
  color: #555;
}

.content .title {
  margin: 0 0 30px 0;
  font-weight: bold;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #222;
}

.content p,
.content ul,
.content ol,
.content pre,
.content blockquote,
.content table,
.content iframe {
  margin-bottom: 1em;
  font-size: 15px;
  line-height: 20px;
}

.content img {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  margin: 0 auto;
  background: #FFF;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content code {
  color: #555;
  background-color: #FFFDDC;
}

.content pre {
  background: #FFFDDC;
  border: 0;
}

.content pre code {
  color: #657B83;
}

.content .hljs {
  background: none;
}

.content .page-meta {
  margin-top: 50px;
  font-size: 85%;
  color: #999;
}

.content .page-meta a {
  color: #999;
  border-bottom: 1px dotted #999;
}

.content .page-meta a:hover {
  color: #428BCA;
  text-decoration: none;
}

.footer .copyright {
  margin: 0 20px 40px 0;
  font-size: 85%;
  color: #999;
}

.page-excerpt .search-query {
  background: #FFFDDC;
}

.error {
  padding: 0 20px;
}

.menu .add-page{
  color: #0085a1;
}

.dropdown-menu>li>a:hover{
  cursor: pointer;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: 10px;
}

.form-horizontal .form-group{
  margin: 0;
}

.CodeMirror{
  border: 1px solid #EAEAEA;
  padding: 5px;
  margin-bottom: 20px;
}
